<div ng-controller="categoryController as category">
	<div id="breadcrumb"><a ui-sref="home">Home</a> > <a ui-sref="category">Categories</a></div>
	<h1>Food Categories</h1>
	<div class="lister">
		<div class="cat">
			<img src="img/A/A.jpg">
			<a ui-sref="items({categoryID:'A'})">Category-A</a>
		</div>
		<div class="cat">
			<img src="img/B/B.jpg">
			<a ui-sref="items({categoryID:'B'})">Category-B</a>
		</div>
		<div class="cat">
			<img src="img/C/C.jpg">
			<a ui-sref="items({categoryID:'C'})">Category-C</a>
		</div>
		<div class="cat">
			<img src="img/CM/CM.jpg">
			<a ui-sref="items({categoryID:'CM'})">Category-CM</a>
		</div>
	</div>
</div>
