<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>

<body ng-app="menuSearch">
  <div class="container" ng-controller="menuSearchController as menu">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <div id="gatherer">
      <div id="narrower" class="form-group">
        <input type="text" placeholder="search term" ng-model="menu.searchTerm" class="form-control">
        <button class="btn btn-primary" ng-click="menu.goSearch()">Narrow It Down For Me!</button>
      </div>
      <div id="lister">
        <h3>Found Items</h3>
        <ul>
          <found-items found-item="menu.found" on-remove="menu.removeItems(ind)" not-found="menu.notFound">
          </found-items>
          <!-- <li ng-repeat="item in menu.items">
          </li> -->
        </ul>
      </div>
      <!-- found-items should be implemented as a component -->
      <!-- <found-items found-items="...." on-remove="...."></found-items> -->
    </div>
  </div>

</body>
</html>
