*{
  font-family:'Josefin Sans';
}
h1{
  font-size:3em;
  margin:40px 0 20px 0;
}
.message{
  font-size:1.3em;
  font-weight:bold;
}
.form-control{
  max-width:500px;
  height:2.8em;
}
#lunchBtn{
  color:white;
  font-size:1.1em;
  background-color:#33567d;
  line-height:1.8em;
}
p{
  letter-spacing:1px;
}
p.green{
  color:green;
}
p.red{
  color:red;
}
