*{
	box-sizing:border-box;
}
#loadingSpinner{
	width:100vw;
	margin:0;
	padding:0;
	position:fixed;
	background-color:rgba(255,255,255,0.8);
	top:0;
	left:0;
	height:100vh;
	z-index:100;
}
#loadingSpinner img{
	width:100px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

ul.UNIul{
	margin:0;
	padding:0;
}
ul.UNIul li{
	margin:0;
	list-style-type:none;
	color:black;
}
.UNIlighttext{
	color:#aeaeae;
}

body{
  font-family: 'Raleway',sans-serif;
  letter-spacing:1px;
  min-height:100vh;
  padding-left:250px;
}
#header{
	width:250px;
	margin:0;
	padding:0;
	position:fixed;
	top:0;
	left:0;
	background-color:#1a2150;
	height:100vh;
}
#header a{
	color:white;
}
#logo{
	width:200px;
	height:200px;
	margin:20px auto;
	background-image:url("../img/foodIcon.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	border-radius:50%;
}
#header ul{
	width:100%;
	margin:0;
	padding:0;
}
#header ul li{
	margin:0;
	width:100%;
	padding:0;
	display:block;
	text-align:center;
	font-size:1.2em;
	letter-spacing:1px;
	font-family: 'Roboto', sans-serif;
	color:white;
	letter-spacing:1px;
	cursor:pointer;
	margin-top:-1px;
}
#header ul li a{
	display:block;
	padding:13px 0;
}
#header ul li a:hover{
	text-decoration:none;
	display:block;
	background-color:#2f3769;
}
#header ul li:last-child{
	border:none;
	padding-top:25px;
}
#header ul li span{
	border:1px solid white;
	margin:0 3px;
	width:40px;
	height:40px;
	display:inline-block;
	line-height:40px;
	text-align:center;
	border-radius:50%;
}

#content{
	width:100%;
	margin:0;
	padding:0;
}

#breadcrumb{
	width:100%;
	margin:0 auto;
	padding:15px 50px;
	background-color:#F8F8F8;
	border-bottom:1px solid #ebebeb;
}
a{
	cursor:pointer;
}
h1{
	margin:10px 50px;
	border-bottom:1px solid #ebebeb;
	padding:10px 0;
	font-size:30px;
	letter-spacing:0px;
}

.lister{
	margin:0;
	margin-bottom:50px;
	padding:0;
	width:25%;
	float:left;
}
.cat{
	border:1px solid #ebebeb;
	width:95%;
	margin:0 auto;
	max-width:200px;
}
.items .cat{
	max-width:180px;
}
.cat img{
	width:100%;
	margin:0;
	padding:0;
	display:block;
}
.cat a{
	line-height:20px;
	display:block;
	margin:0;
	padding:5px 0;
	text-align:center;
	background-color:#F8F8F8;
}

.items{
	margin:40px 50px;
	padding:0;
	padding-left:230px;
	position:relative;
}
.items .cat{
	position:absolute;
	top:0;
	left:0;
}
.item{
	display:flex;
	position:relative;
	width:100%;
	margin:0;
	padding:0;
	margin-bottom:10px;
	vertical-align:middle;
	height:150px;
	border:1px solid #EBEBEB;
}
.item img{
	width:240px;
	height:100%;
	margin-right:10px;
}
.item h2{
	line-height:1.3em;
	margin:0;
	padding:10px 0 5px;
	width:100%;
	font-size:1.3em;
}
.item p{
	line-height:1.2em;
	margin:0;
	padding:0;
}
.item .order{
	position:absolute;
	left:0;
	bottom:0;
	padding:0 0 5px 250px;
}
.item a{
	background-color:#33c233cc;
	width:170px;
	line-height:30px;
	display:inline-block;
	border-radius:5px;
	color:white;
	margin-right:10px;
}
.item a span{
	background-color:#191A7BB3;
	width:110px;
	line-height:30px;
	display:inline-block;
	text-align:center;
	color:white;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	margin-right:5px;
}

/**********************
Order Page Styles
**********************/
#cartrow{
	margin:0 auto;
	position:relative;
	max-width:800px;
	margin:30px auto 30px 40px;
	padding-right:280px;
}
#cartrow>div{
	margin:0;
	padding:0 10px;
}
#cartlister{
	width:100%;
	margin:0;
	padding:0 10px;
}
.cartproduct{
	width:100%;
	margin:0;
	padding:0;
	border:1px solid #ebebeb;
	position:relative;
	padding-left:190px;
	margin-bottom:20px;
	height:110px;
	padding-bottom:50px;
	padding-right:5px;
}
.cartpic{
	width:180px;
	height:110px;
	position:absolute;
	top:0;
	left:0;
}
.cartpic img{
	display:block;
	width:100%;
}
.cartinfo{
	height:80px;
	border-bottom:1px solid #ebebeb;
}
.cartinfo h2{
	margin:0;
	padding:8px 0 0 0;
	font-size:1em;
	line-height:1.3em;
	//text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
}
.cartinfo p{
	margin:0;
	padding:5px 0;
	font-size:0.9em;
	font-family: 'Roboto', sans-serif;
}
.cartinfo p span.inc{
	height:100%;
	padding:5px 10px;
	display:inline-block;
	text-align:center;
	font-size:0.9em;
	color:white;
	cursor:pointer;
	background-color:#2D5072;
	//border-radius:3px;
	margin:0;
	margin-top:5px;
}
.cartinfo p span.dig{
	height:100%;
	padding:6px;
	margin:0;
	margin-top:5px;
	font-size:0.85em;
	border-top:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
}
.cartinfo .removerHolder{
	position:absolute;
	bottom:0;
	left:190px;
	height:30px;
	margin:0;
	padding:0;
}
.cartinfo h4{
	margin:0;
	padding:0;
	font-size:0.85em;
	letter-spacing:1px;
	font-weight:bold;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
	display:inline-block;
	line-height:30px;
}
.cartinfo a{
	height:35px;
	font-weight:bold;
	margin:0;
	padding:0;
	width:50%;
	display:inline-block;
	line-height:30px;
	text-align:center;
	font-size:0.85em;
	/*color:white;*/
	cursor:pointer;
	width:105px;
	text-transform:uppercase;
}
#cartsummer{
	width:100%;
	margin:0;
	padding:0 10px;
	//background-color:green;
}
#cartbill{
	width:100%;
	margin:0;
	padding:10px 15px;
	border:1px solid #ebebeb;
	width:280px;
	position:absolute;
	top:0;
	right:0;
}
#cartbill h2{
	margin:0;
	margin-bottom:8px;
	padding:8px 0;
	font-size:1.1em;
	text-transform:uppercase;
	letter-spacing:1px;
	font-family: 'Roboto', sans-serif;
	border-bottom:1px solid #ebebeb;
}
#cartbill ul li{
	padding:3px 0;
	position:relative;
	font-size:0.9em;
}
#cartbill ul li:last-child{
	border-top:1px solid #ebebeb;
	margin-top:7px;
	padding:10px 0;
	font-size:0.9em;
	letter-spacing:1px;
	text-transform:uppercase;
}
#cartbill ul li span{
	padding:3px 0;
	position:absolute;
	top:50%;
	transform:translate(0,-50%);
	right:0;
}
#cartbill a{
	margin:5px 0 0 0;
	padding:10px 0;
	display:block;
	text-align:center;
	font-size:0.85em;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
	color:white;
	cursor:pointer;
	background-color:#2D5072;
}
#cartbill a:hover{
	text-decoration:none;
}
